@model BuyerViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Buyer</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="SecondName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.SecondName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="FirstName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Address"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Address
        </dd>
        <dt class="col-sm-2">
            <label asp-for="PhoneNumber"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.PhoneNumber
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ZipCode"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.ZipCode
        </dd>
        <dt class="col-sm-2">
            <label asp-for="Email"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" asp-controller="Orders">Back to List</a>
</div>